.loader-container {
    color: aqua;
}

.loader-text {
    margin: 5px 0;
    white-space: nowrap;
    overflow: scroll;
    clip-path: inset(0 100% 0 0);

    animation: typeWriter 1.5s steps(40, end) forwards;
    font-size: clamp(10px, 3vw, 15px);
}

.line-1 {
    animation-delay: 0.2s;
}

.line-2 {
    animation-delay: 1.2s;
}

.line-3 {
    animation-delay: 2.2s;
}

.loader-cursor {
    color: aqua;
    margin-top: 5px;
    animation: blink 0.8s infinite;
}

.l-scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.2) 50%);
    background-size: 100% 4px;
    pointer-events: none;
}

@keyframes typeWriter {
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}