.div-uc-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.div-ucinfo-log {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.div-uc-error-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.p-uc {
    line-height: 1.5;
}

.p-uc-log {
    line-height: 2px;
}

@media (max-width:1150px) {
    .div-uc-layout {
        flex-direction: column-reverse;
        align-items: center;
    }

    .div-ucinfo-log {
        width: 100%;
    }

    .p-uc-log {
        line-height: 0.7;
        width: 90%;
        margin: 8px auto;
    }

    .div-p-uc-log {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 11px;
    }

    .p-uc {
        font-size: clamp(2rem, 2.5vw, 3.5rem);
    }

}

.progress-container {
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--terminal-green, rgb(11, 168, 155));
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.progress-label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.progress-bar-visual {
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-size: clamp(0.9rem, -0.25rem + 3vw, 2rem);
}

.bar-content {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}