.div-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 80px);
    background: linear-gradient(rgba(30, 28, 28, 1) 50%, rgba(12, 12, 12, 1) 50%);
    background-size: 100% 4px;
    min-width: 320px;
}

.div-side {
    background-color: black;
    width: 25px;
    flex-shrink: 0;
    height: 100%;
}

.div-container {
    flex-grow: 1;
    max-width: calc(100% - 50px);
    border-radius: 10px;
    background: -webkit-linear-gradient(180deg,
            #001e135a, #068a575a, #001e135a, #068a575a,
            #001e135a, #068a575a, #001e135a, #068a575a,
            #001e135a, #068a575a, #001e135a, #068a575a,
            #001e135a, #068a575a, #001e135a, #068a575a);
    background: linear-gradient(180deg,
            #001e135a, #068a575a, #001e135a, #068a575a,
            #001e135a, #068a575a, #001e135a, #068a575a,
            #001e135a, #068a575a, #001e135a, #068a575a,
            #001e135a, #068a575a, #001e135a, #068a575a);
    background-size: 300% 300%;
    will-change: background-position, transform;
    -webkit-animation: Gradient 15s linear infinite;
    -moz-animation: Gradient 15s linear infinite;
    animation: Gradient 15s linear infinite;

}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 0%;
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        background-position: 0% 100%;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 0%;
        transform: translate3d(0, 0, 0);
    }

    100% {
        background-position: 0% 100%;
        transform: translate3d(0, 0, 0);
    }
}

.div-subcontainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 26, 38, 0.3);
    box-shadow:
        0 0 30px #777777,
        inset 0 0 30px rgba(0, 255, 255, 0.5),
        inset 0 0 60px rgba(0, 255, 255, 0.5);
    height: 100%;
    border-radius: 20px;
}

.div-main-container {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid aqua;
    height: calc(100% - 268px);
    width: auto;
}

.div-final-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #035032;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
    color: aqua;
}

.div-final-receiver::-webkit-scrollbar {
    display: none;
}