.div-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    justify-content: space-between;
}

.div-corner {
    display: flex;
    width: 200px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
}

.imgShutDown {
    max-width: 25px;
    max-height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.imgShutDown-Glowing {
    filter: drop-shadow(0 0 15px white) drop-shadow(0 0 30px #0ff) drop-shadow(0 0 45px rgb(2, 144, 215));
    transition: filter 0.5s ease;
}

.imgShutDown-Glowing:hover {
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px turquoise) drop-shadow(0 0 50px rgb(17, 107, 121))
}