@font-face {
  font-family: 'Consolitas';
  src: url('assets/fonts/consolas/consola.ttf'),
    url('assets/fonts/consolas/consolab.ttf'),
    url('assets/fonts/consolas/consolai.ttf'),
    url('assets/fonts/consolas/consolaz.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: url('assets/fonts/bender/Jovanny\ Lemonad\ -\ Bender.otf'),
    url('assets/fonts/bender/Jovanny\ Lemonad\ -\ Bender-Bold.otf'),
    url('assets/fonts/bender/Jovanny\ Lemonad\ -\ Bender-Italic.otf'),
    url('assets/fonts/bender/Jovanny\ Lemonad\ -\ Bender-Black.otf');
}

@font-face {
  font-family: 'Digital';
  src: url('assets/fonts/digital/DS-DIGI.TTF'),
    url('assets/fonts/digital/DS-DIGIB.TTF'),
    url('assets/fonts/digital/DS-DIGII.TTF'),
    url('assets/fonts/digital/DS-DIGIT.TTF');
}

@font-face {
  font-family: 'Dotmatrix';
  src: url('assets/fonts/dotmatrix/DOTMATRI.TTF'),
    url('assets/fonts/dotmatrix/DOTMBold.TTF');
}

.body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: rgb(0, 0, 0);
  font-family: 'Consolitas';
  text-shadow: 1.5px 0 1px rgba(255, 0, 0, 0.7),
    -1.5px 0 1px rgba(0, 0, 255, 0.6),
    0 0 8px rgba(0, 255, 65, 0.4);
}